*{
  margin: 0%;
}
.main{
  background-color:#638ecb;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0%;
}
.card1{
  border-radius: 20px;
  position: absolute;
  background-color: #f0f3fa;
  display: flex;
  margin-top: 100px;
  margin-left:  400px;
  height: 500px;
  width: 800px;
}
.card2{
  position: absolute;
}
.img{
  margin-top: 70px;
  margin-left: 50px;
  height: 300px;
}
.card3{
  border-radius: 20px;
  width: 400px;
  height: 500px;
  position:absolute;
  margin-left:400px;
  background-color: #b1c9ef;
}
.head{
  height: 40px;
  width: 280px;
  border-radius: 10px;
  margin-left: 60px;
  background: none;
  margin-top: 50px;
  background-color: #638ecb;
}
.btn1{
  background: none;
  border: none;
  cursor: pointer;
  background-color: #638ecb;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  color: white;
}
.btn1{
  background-color: #f0f3fa;
  color:#638ecb;
}

.btn2{
  background: none;
  border: none;
  cursor: pointer;
  background-color: #638ecb;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  color: white;
}
.title{
  margin-top: 30px;
  text-align: center;
  margin-left: 5px;
  cursor:default;
  color: #638ecb;
}
.inputs{
  margin-left: 100px;
}

.logininput{
  border: none;
  border-bottom: 1px solid #638ecb;
  background-color:#b1c9ef;
  color: #638ecb;
  height: 20px;
  width: 200px;
  outline: none;
}
.loginlabel{
  color: #638ecb;
}
.forgot{
  margin-left: 90px;
  text-decoration: none;
  color: #638ecb;
}
.forgot:hover{
  color: black;
  border-bottom: 1px solid black;
}
.subbtn{
  border: none;
  width: 210px;
  height: 40px;
  background-color:  #638ecb;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 60px;
}