.heading{
    text-align: center;
    padding: 23px;
    color:#638ecb;
}
.contactform{
    color: #638ecb;
    width: 600px;
    height: 350px;
    margin-top: 50px;
    margin-left: 480px;
    background-color: #d5deef;
    margin-bottom: 50px;
    border-radius: 10px;
}
.contactinputs{
    background-color: #d5deef;
    border: none;
    outline: none;
    color: #638ecb;
    border-bottom: 1px solid #638ecb;
}
.contactlabel{
    margin-left: 120px;
}
.sendbtn{
    margin-top: 30px;
    margin-left: 230px;
    border: none;
    width: 150px;
    height: 40px;
    background-color: #638ecb;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform .2s;
}
.sendbtn:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
.info{
    display: flex;
}
.info1{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-color: #d5deef;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform .2s;
}
.info1:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
.info2{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-color: #d5deef;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform .2s;
}
.info2:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
.info3{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-color: #d5deef;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform .2s;
}
.info3:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
.location{
    height: 150px;
    width: 150px;
    margin-left: 110px;
    margin-top: 10px;
}
.locationtxt{
    color: #638ecb;
    margin-top: 20px;
    text-align: center;
    font-size:large;
}
.call{
    height: 200px;
    width: 200px;
    margin-left: 90px;
}
.calltxt{
    color: #638ecb;
    text-align: center;
    font-size:x-large;
}
.email{
    height: 200px;
    width: 200px;
    margin-left: 90px;
}
.emailtxt{
    font-size:x-large;
    color: #638ecb;
    text-align: center;
}